html {
    scroll-behavior: smooth;
}

body {
    color: $dark;
}

h2 {
    font-size: 80px;
    line-height: 0.72em;
}

h3 {
    font-size: 42px;
    line-height: 1em;
}

h4 {
    font-size: 32px;
    line-height: 1em;
    margin-bottom: 30px;
}

h5 {
    font-size: 26px;
    line-height: 3em;
}

p,
button,
input,
textarea {
    font-size: 20px;
    line-height: 32px;
}

button {
    background-color: $accent;
    padding: 3px 20px;
    transition: all 0.4s ease-in-out;
}

button:hover,
button:focus {
    color: $secondary;
    background-color: $primary;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.abril {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}